
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <%= render "form" %>
    </div>
  </div>



<h1>What would you rather?</h1>

<% if @questions.any? %>
  <div class="questions">
    <%= render @questions %>
  </div>
<% else %>
  <p>There are no rathers yet!</p>
<% end %>
